
.blog-section-wrapper {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}

.blog-section {
    width: 60%;
    height: auto;
}

.tag-section {
    display: flex;
    width: 35%;
    flex-direction: column;
}


.recents {
    height: auto;
    width: 100%;
}

.recent-blogs-wrapper {
    height: auto;
}

/* .spin-wrapper{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.read-more{
    margin: 0 auto;
    padding: 0.55rem;
    border-radius: 0.2rem;
    font-size: 18px;
    text-align: center;
    background: #fd7e14;
    width: fit-content;
    cursor: pointer;
}

input::file-selector-button {
    font-weight: bold;
    color: #8484f0;
    padding: 0.5em;
    border-radius: 3px;
    border: 1px solid rgb(183, 180, 180);
    cursor: pointer;
}


.prev-img{
    width: 270px;
    height: 270px;    
}

@media only screen and (max-width: 30em) {
    

    .blog-section-wrapper {
        display: flex;
        padding: 1rem;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
    }
    
    .blog-section {
        width: 100%;
        height: auto;
    }
    
    .tag-section {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    
    .recents {
        height: auto;
        width: 100%;
    }
    
    .recent-blogs-wrapper {
        height: auto;
    }
    
    .blog-recent {
        display: flex;
        align-items: flex-start;
        margin-block: 2rem;
        justify-content: start;
        height: 10vh;
        cursor: pointer;
    }
    
    .blog-recent-img {
        height: 100%;
        width: 27%;
    }
    
    .blog-recent p {
        margin: 0;
        word-wrap: break-word;
        font-size: 16px;
        margin-left: 1rem;
    }
    
    /* .spin-wrapper{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */
    
    .read-more{
        margin: 0 auto;
        padding: 0.55rem;
        border-radius: 0.2rem;
        font-size: 18px;
        text-align: center;
        background: #fd7e14;
        width: fit-content;
        cursor: pointer;
    }
    

}
@media only screen and (max-width: 85em) {}